{% load compress static %}

<!doctype html>
<html>

<head>
    <title>IPv6 Heatmap</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'map.css' %}">
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'leaflet.js' %}"></script>
    <script src="{% static 'heatmap.min.js' %}"></script>
    <script src="{% static 'leaflet-heatmap.unmin.js' %}"></script>
    {% endcompress %}
</head>

<body>
    <div id="map">
        <div id="modal">
            <div class="modalcontent">
                <div>
                  Welcome to the IPv6 Heatmap application!<br/><br/>
                  Drag the map and use the +/- buttons to zoom. <br/><br/>
                  This product includes GeoLite2 data created by MaxMind, available from <a href="http://www.maxmind.com" target="new">http://www.maxmind.com</a>.
                </div>
                <br/>
                <button id="button">Try it out!</button>
            </div>
        </div>
    </div>
</body>

{% compress js %}
<script src="{% static 'map.js' %}"></script>
{% endcompress %}

</html>