{% load compress static %}

<!doctype html>
<html>

<head>
    <title>IPV6 Heatmap</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'map.css' %}">
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'leaflet.js' %}"></script>
    <script src="{% static 'heatmap.min.js' %}"></script>
    <script src="{% static 'leaflet-heatmap.unmin.js' %}"></script>
    {% endcompress %}
</head>

<body>
    <div id="map"></div>
</body>

{% compress js %}
<script src="{% static 'map.js' %}"></script>
{% endcompress %}

</html>